body{
    background-color: black;
}

* {
    box-sizing: border-box;
  }
  
  
  /* Float four columns side by side */

  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .image {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  

  
.dropdown-item:hover{
    background-color: blueviolet;
    color: white;
}
  
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-fluid{
    width: 100%;
    height: auto;
}